* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	color: #323232;
	border: none;
  }
  .caixa {
	padding-top:20px ;
	padding-bottom: 20px;
  }
   
  .caixa {
	  padding: 60px 0;
	  border-bottom: 1px solid #9bf0e1;
  }
  
  
  input, label {
	display: block;
	outline: none;
	width: 100%;
  }
  
  a {
	color: #E60084;
  }
  
  body {
	padding-top: 5vh;
	background-image: url('../img/bg-register-page.jpg');
	background-size: cover;
	background-position-y: -150px;
  }
  
  /* form */
  #main-container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	border-radius: 10px;
	padding: 25px;
  }
  
  #main-container h1 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 1.6rem;
  }
  
  form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .full-box {
	flex: 1 1 100%;
	position: relative;
  }
  
  .half-box {
	flex: 1 1 45%;
	position: relative;
  }
  
  .spacing {
	margin-right: 2.5%;
  }
  
  label {
	font-weight: bold;
	font-size: .8rem;
  }
  
  input {
	border-bottom: 2px solid #323232;
	padding: 10px;
	font-size: .9rem;
	margin-bottom: 40px;
  }
  
  input:focus {
	border-color: #E60084;
  }
  
  input[type="submit"] {
	background-color: #E60084;
	color: #FFF;
	border: none;
	border-radius: 20px;
	height: 40px;
	cursor: pointer;
  }
  
  #agreement {
	margin-right: 5px;
  }
  
  #agreement, #agreement-label {
	display: inline-block;
	width: auto;
  }
  
  .error-validation {
	color: #ff1a1a;
	position: absolute;
	top: 57px;
	font-size: 12px;
  }
  
  .template {
	display: none;
  }
  
  footer .navbar-nav a:hover {
	  color: #9bf0e1;
	  text-decoration: none;
  }
  
  footer ul {
	  list-style: none;
  }
  
  footer ul li  {
	  float: right;
	  margin: 0 5px;
  
  }
  
  footer .navbar-nav a {
	  color: white;
	  font-size: 0.8em;
  }
  
  
  
  /* Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {
	  .btn-custom {
		  margin: 10px 15px;
	  }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
	  h1 {
		  font-size: 3em;
	  }
	  .btn-custom {
		  margin: 10px 15px;
	  }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
	  h1 {
		  font-size: 4em;
	  }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
	  h1 {
		  font-size: 5em;
	  }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
	  h1 {
		  font-size: 6em;
	  }
  }
  
  


#home {
	background: blue;
	padding: 0px auto 20px;
	
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #9bf0e1;
}

footer p a {
	margin: 5px 15px;
}

div button a {
	text-decoration;
}



input {
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: 1px solid red;
	background-repeat: no-repeat;
	background-position: 10px;
 
}

input.email {
	background-image: url(../img/icone-usuario.png);
}

input.senha {
	background-image: url(../img/icone-cadeado.png);
}

input.submit {
	color: #fff;
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;

	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);

}

.car  {
	background-color: #f79300;
	width:600px;
	padding-right: 20px;
	text-decoration: none;
	font-family: 'Helvetica',Arial, sans-serif
}

img {
	border-radius: 20px;
	
}
form{
	font-family: Calibri, sans-serif;
	font-size: 18px;
  }
  
  fieldset{
	border: none;
  }
  
  legend{
	font-weight: bold;
	font-size: 20px;
  }
  
  .form-group{
	margin: 7px auto;
  }
  
  label{
	width: 150px;
	display: inline-block;
  }
  
  input[type="text"], input[type="email"]{
	padding: 4px;
	border-radius: 5px;
	
  }
  input  {
	  padding: ;
  }

  input[type="file"]{
	padding: 4px;
	border-radius: 5px;
	
  }
  
  input:invalid{
	border-color: crimson;
	box-shadow: 0px 0px 3px crimson;
  }
  
  input:focus{
	outline: none;
  }
  
  input:focus:invalid{
	box-shadow: none;
  }
  
  span{
	color: crimson;
  }

  
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li  {
	float: right;
	margin: 0 5px;

}
html,body,#home {
	height: 100%;
	overflow-x: hidden;
}


body {
    background: url(../imagens/capa.png),
	url(../imagens/ruido.png),
                linear-gradient(50deg,,);
    background-attachment: fixed;
    font-family: Helvetica,Arial, sans-serif.
}
.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
	
  } 
nav.navbar-transparente {
    padding: 15px 0px ;  
	background: rgba(170, 158, 158, 0.664);
	color: white;
} 

.navbar-light .navbar-nav .nav-link{
    color:white;
}


.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
	
}


.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.divisor {
    width: 1px;
    background: white;
    margin:  12px 15px;
}

.capa {
     text-align: center;
}
.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

.carousel-control-next, .carousel-control-prev {
	
	width: 5%;

} 
.caixa {
	 padding-top:20px ;
	 padding-bottom: 20px;
}
#servicos {
	background: white;

}


#servicos h2,h3 {
	color: #7c25f8;
}
 
#recursos  {
	color: white;
}

#recursos h2 {
	color: white;
}

#recursos h3 {
	color: #9bf0e1;
}

.albuns {
	padding: 10px 0 ; 
}

.rotacionar {
	
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	padding-left: 80px; 
}

footer {
	background: rgb(112, 97, 97);
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}



#lista-noticias h3   {
	color: white;
}
#lista-noticias p {
	color: white;
}

#lista-noticias li {
	list-style: none;
}
footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li  {
	float: right;
	margin: 0 5px;

}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	 font-size: 3em;
	 font-weight: 700;
	 letter-spacing: -0.04em;
}

h3 {
	 font-size: 2em;
	 font-weight: 700;
	 letter-spacing: -0.04em;
}

h4 {
   font-weight: 900; 

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}

